python-dotenv
langchain
langchain-core
langchain-openai
langchain-naver
langgraph
langchain-community
langchain-chroma
chromadb
qdrant-client
sentence-transformers
transformers
torch
openai
anthropic
requests
pydantic
wandb
